{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <title>Plotando gráfico</title>
  </head>
  <body>
    <div class="container">
      <h2>Plotando gráfico com Django e ChartJS</h2>
    </div>
    <div class="container">
      <canvas id="grafico" width="500" height="180"></canvas>
    </div>

    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
      $.get('{% url "dados" %}', function(data){
        var ctx = $("#grafico").get(0).getContext("2d");
        new Chart(ctx, {
          type: 'bar', data: data, options: { title: { display: true, text: 'gráfico' } }
        });
      });
    </script>
  </body>
</html>